[Unit]
Description=Silicon Full Node
After=network.target

[Service]
User=silicon
Group=silicon
WorkingDirectory=~
RuntimeDirectory=silicon

Type=forking
PIDFile=/run/silicon/silicond.pid

ExecStart=/usr/bin/silicond --config-file /etc/silicond.conf \
    --detach --pidfile /run/silicon/silicond.pid

Restart=always
PrivateTmp=true

[Install]
WantedBy=multi-user.target
